body {
  padding-top: 50px;
  font-family: 'Playwrite FR Moderne', sans-serif;
}
.dropdown {
  color: red;
  font-family: Verdana, sans-serif;
  padding-top: 0.05rem;
}
.d_style {
  color: white;
}
.title_style {
  color: red !important;
}
.dropdown-menu {
  background-color: #404040;
  border: none;
}
.dropdown-item {
  color: black;
}
.dropdown-item:hover {
  background-color: #555;
  color: white;
}
.container {
  padding-top: 1rem;
}
.valve-item {
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  background-color: #f8f9fa;
  word-wrap: break-word; /* Ensures text does not overflow */
  width: 25rem;
  height: 15rem;
  position: relative;
}

.valve-item button {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.valve-item .card-title {
  font-size: 1.2rem;
  font-weight: bold;
}
.valve-item .card-text {
  margin: 5px 0;
}
.card-body {
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 100%; /* Ensure the body takes full height of the card */
}
.card-text {
  margin: 5px 0;
  flex: 1; /* Make sure card text is spaced properly */
}
.valve-list {
  display: flex;
  flex-direction: column;
  gap: 15px; /* Space between the valve items */
}

#suggestions {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
}

#suggestions .dropdown-item {
  padding: 10px;
  cursor: pointer;
}

#suggestions .dropdown-item:hover {
  background-color: #f1f1f1;
}

@media (max-width: 768px) {
  .valve-item {
    flex: 0 0 100%;
    width: 100% !important;
    min-height: 250px !important; /* Adjust the height for mobile view */
  }
}
